@model List<EventManager.Models.Event>

@{
    ViewData["Title"] = "Index";

}

<h3>Events Management</h3>

<table class="table">
    <head>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Date and time</th>
            <th>Atendees</th>
            <th>Venue</th>
        </tr>        
    </head>
    <body>
        <tr>
            @foreach(var item in @Model)
            {
                var atendees = item.Atendees.Select(x => x.Name);

                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.Date</td>
                <td>@string.Join(", ", atendees)</td>
                <td>@item.Venue.Name</td>
            }
        </tr>
    </body>
</table>